CATALOG_DB_PASSWORD=replace-me
INGESTION_DB_PASSWORD=replace-me
QUERY_DB_PASSWORD=replace-me
ANALYTICS_DB_PASSWORD=replace-me
PROMOTION_DB_PASSWORD=replace-me
RABBITMQ_USER=aggregator
RABBITMQ_PASSWORD=replace-me
OBJECT_STORAGE_ACCESS_KEY=aggregator
OBJECT_STORAGE_SECRET_KEY=replace-with-at-least-32-characters
AUTHORITY=https://identity.example
CATALOG_API_PORT=18081
INGESTION_API_PORT=18082
QUERY_API_PORT=18083
ANALYTICS_API_PORT=18084
PROMOTION_API_PORT=18085
RABBITMQ_MANAGEMENT_PORT=15672
OBJECT_STORAGE_CONSOLE_PORT=19001
