{
    auto_https off
    admin off
}

:8080 {
    encode zstd gzip

    header {
        -Server
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options DENY
    }

    handle /health/live {
        respond 200 {
            body "live"
        }
    }

    handle /api/catalog-media* {
        reverse_proxy catalog-media-api:8080
    }

    handle /api/catalog-query* {
        reverse_proxy query-api:8080
    }

    handle /api/catalog* {
        reverse_proxy catalog-api:8080
    }

    handle /api/ingestion* {
        reverse_proxy ingestion-api:8080
    }

    handle /api/analytics* {
        reverse_proxy analytics-api:8080
    }

    handle /api/promotion* {
        reverse_proxy promotion-api:8080
    }

    handle {
        respond 404
    }
}
